[Unit]
Description=Install Scalock Gateway
After=docker.service bootstrap.service aqua-web.service aqua-gateway.service
Requires=docker.service


[Service]
User=core
TimeoutStartSec=0
Environment="SCALOCK_TOKEN=etcdctl get /aqua/config/aqua-token"

ExecStartPre=/usr/bin/sh -c "source /etc/profile.d/etcdctl.sh"
ExecStartPre=/usr/bin/sh -c \
"if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && docker pull scalock/scalock-agent:stable"
ExecStartPre=-/usr/bin/docker kill scalock-agent
ExecStartPre=-/usr/bin/docker rm scalock-agent


ExecStart=/usr/bin/bash -c \
"if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && \
  sudo docker run -ti --name scalock-agent \
  -e SCALOCK_SERVER=${COREOS_PRIVATE_IPV4} \
  -e SCALOCK_TOKEN=$($SCALOCK_TOKEN) \
  -e SILENT=yes \
  -v /var/run/docker.sock:/var/run/docker.sock \
  scalock/scalock-agent:stable"

[[X-Fleet]
Global=true
